@model IEnumerable<HotelHyatt.Models.Room>

@{
    ViewData["Title"] = "Chambres";//>Index
}

<h1>Chambres</h1><!--Index-->

<div class="card">
    <img src="/images/agdalDeluxeRoom.jpg" alt="Agdal Deluxe Room" />
    <div class="container">
        <h2>Deluxe Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>

<div class="card">
    <img src="/images/photo-deluxe-parc.jpg" alt="Parc Deluxe Room" />
    <div class="container">
        <h2>Deluxe Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>

<div class="card">
    <img src="/images/double.jpg" alt="Double Room In Mamounya MARRAKECH" />
    <div class="container">
        <h2>Double Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>

<div class="card">
    <img src="/images/single.jpg" alt="Single Room In Mamounya MARRAKECH" />
    <div class="container">
        <h2>Single Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>

<div class="card">
    <img src="/images/triple.jpg" alt="triple" />
    <div class="container">
        <h2>Triple Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>

<div class="card">
    <img src="/images/standard.jpg" alt="standard" />
    <div class="container">
        <h2>Standard Room</h2>
        <a asp-controller="Bookings" asp-action="Create">
            <input type="button" class="btn btn-primary" value="Book Now" />
        </a>
    </div>
</div>
